*.prefs
*.class
src/baseTest/test
env/temp
env/lib/fan_backup
src/javaEmit/bin
devEnv
*.pod
env/lib/java/ext
config.props
release
env/lib
env/doc
src/parser/goldenFile
parser.jar
fanrun/fanRun.vcproject/.vs/
fanrun/fanRun.vcproject/gen/Debug/
fanrun/fanRun.vcproject/run/Debug/
fanrun/fanRun.vcproject/Debug/
.vs/
fanrun/thirdparty/libffi-3.4.2
fanrun/fanRun.vcproject/vm_gen/Debug/
fanrun/fanRun.vcproject/vm/Debug/
