*.prefs
*.class
env/temp
env/lib/java/ext
env/lib
env/doc
compiler/javaEmit/bin
library/baseTest/test
*.pod
config.props
release
.vs/
*.properties
compiler/compilerx/compilerx.jar
*.exe
env/bin/macos-arm64
